<div class="container">


<!-- ARTICLE AREA -->
	<h3 class="page-header">View Article</h3>
	<%= link_to "New Article", new_article_path %>
	<span>&#124;</span> 
	<span>&laquo;</span><%= link_to "Back to Articles", articles_path %>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><%= @article.title %></h3>
		</div>
		<div class="panel-body">
			<p>
				<%= @article.text %>
			</p>
		</div>
	</div>




<!-- COMMENTS AREA -->
	<h4>Comments <span class="badge"><%= @article.comments.count %></span></h4>

	<!-- FORM -->
	<%= form_for([@article, @article.comments.build], html: {multipart: true}) do |f| %>
	  <div class="row">
	  	  <div class="col-sm-1">
	  	  	<%= image_tag current_user.image.url(:small) %>
	  	  </div>
		  <div class="form-group col-sm-10">
		    <%= f.text_area :body, placeholder: "Enter your comment...",  class:'form-control enter-submit' %>
		  </div>
  		  <div class="form-group">
			<%= f.submit "Post", class: 'btn btn-primary' %>
		  </div>
	  </div>
	<% end %>



	<!-- COMMENTS -->
	<div class="media-list">
		<% @article.comments.reverse.each do |comment| %>
		<hr>
		<div class="media">
			<div class="media-left">
				<% @comment_user = User.find_by(id:comment.user_id) %>
				<% if @comment_user != nil %>
					<a href="#">
						<%= image_tag @comment_user.image.url(:small), class: "thumbnail" %>
					</a>
				<% end %>
			</div>
			<div class="media-body">
				<a href="#">
					<%= @comment_user.name if @comment_user != nil %>
				</a>
				<p class="text-muted">
					<small><%= comment.updated_at.to_s.tr('UTC',' ') %></small>
				</p>
				<%= comment.body %>
			</div>
		</div>
		<% end %>
	</div>	<!-- media-list ends -->
	<br>

</div>