<% provide(:title, "Log in") %>

<div class="container">

	<div class="col-sm-push-4 col-sm-4">
		<% if @user && @user.errors.any? %>
		<div class="alert alert-danger">
			<ul>
				<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
		<% end %>
		<h3 class="text-center">Edit Profile</h3>
		<%= form_for(:user, url: user_path, method: :patch, class:'form-horizontal') do |f| %>



		<div class="row">
			<div class="thumbnail">
				<%= image_tag @user.image.url(:medium), id:"image", width:300, height:300 %>
			</div>
		</div>

		<div class="form-group">
			<%= f.label "Profile Image", class: ' control-label' %>
			<%= f.file_field :image, class: 'form-control', id: 'image_file' %>
		</div>


		<div class="form-group">
			<%= f.label :name, class: 'control-label' %>
			<%= f.text_field :name, class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= f.label :username, class: 'control-label' %>
			<%= f.text_field :username, class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= f.label :email, class: 'control-label' %>
			<%= f.text_field :email, class: 'form-control' %>
		</div>

		<div class="form-group">
			<%= f.label :password_digest, class: ' control-label' %>
			<%= f.password_field :password_digest, class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= f.label :confirm_password, class: ' control-label' %>
			<%= f.password_field :confirm_password, class: 'form-control' %>
		</div>



		<div>
			<%= f.submit "Save", class: "btn btn-primary" %>
		</div>
		<% end %>
		<br>
	</div>
</div>


<!-- JS AREA -->
<script>
$(function(){
	$("#image_file").change(function() {
		var reader = new FileReader();

		reader.onload = function(e){
            $("#image").attr("src", e.target.result);
		}

		// console.info(this);
		reader.readAsDataURL(this.files[0]);
	})
})

</script>